/* procedures section */
.procedures-section {
  &__container {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 96px;
  }

  &__title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 48px;

    span {
      color: var(--blue-light);
    }
  }

  &__list {
    display: flex;
    gap: 16px;
    flex-grow: 1;
    overflow: hidden;
  }

  &__item {
    flex-basis: auto;
  }
}
