 /* Fonts */
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-100.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-100italic.woff2') format('woff2');
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-200.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-200italic.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-300.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-300italic.woff2') format('woff2');
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-regular.woff2') format('woff2'); 
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-italic.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-500.woff2') format('woff2'); 
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-500italic.woff2') format('woff2'); 
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-600.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-600italic.woff2') format('woff2');
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-700.woff2') format('woff2'); 
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-700italic.woff2') format('woff2'); 
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-800.woff2') format('woff2');
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-800italic.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-900.woff2') format('woff2');
}
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/roboto/roboto-v47-cyrillic_latin-900italic.woff2') format('woff2');
}
@font-face {
    font-display: swap; 
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play/play-v19-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap; 
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play/play-v19-cyrillic_latin-700.woff2') format('woff2');
}
/* Fonts */

/* root */
:root {
    --blue-light: #2B7FFF;
    --blue-dark: #011C44;
    --gray: #4A4A4A;
    --white: #fff;
}
/* root */

/* global */
*,
*::after,
*::before {
    box-sizing: border-box;
}

 h1, h2, h3, h4, h5, h6, p {
    margin-top: 0; 
 }  

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
}

body {
    color: var(--blue-dark);
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1288px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}



.button {
    transition: all 0.3s;
    background-color: var(--blue-light);
    color: #fff;
    padding: 16px 32px;
    border: 2px solid var(--blue-light);
    border-radius: 32px;
    font-size: 18px;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    /* color: var(--blue-dark); */
    transform: scale(1.1);
}

.button:disabled {
    background-color: var(--gray);
    color: var(--white);
    border: 2px solid var(--color-brand-dark);
    cursor: not-allowed;
}





/* Header */
.header {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 32px 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.header a {
    transition: transform color 0.3s ease;
    color: var(--blue-dark);
    text-decoration: none;
    
}
.header a:hover {
    transition: color 0.3s ease;
    color: var(--blue-light);
    transform: scale(1.05);
}


.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}

.header-items {
    display: flex;
    gap: 56px;
    /* flex-grow: 1; */
    justify-content: center;
}

.header-contacts {
    display: flex;
    gap: 32px;

}

.header-icon {
    fill: rgb(50, 26, 64);
}



/* top section */

.top-section {
    background-image: 
      linear-gradient(to right, white 0%, white 40%, transparent 60%), 
      url(/homework/hw2/static/img/girl2.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;


    padding: 130px 0;
}


.top-content {
    padding: 0 0 0 100px;
}


/* .top-content button {
    background-color: var(--blue-light);
    color: #fff;
    padding: 16px 32px;
    border: 2px solid var(--blue-light);
    border-radius: 32px;
    font-size: 18px;
    cursor: pointer;
} */

.top-content button:hover {
    color: var(--blue-dark);
}

.top-content p  {
    margin-top: 14px;
    color: var(--gray);
   
}

.top-section p:first-of-type {
    color: var(--blue-dark);
    font-weight: 400;
    font-size: 18px;
    line-height: 0.8;
}

.top-section p:last-of-type {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
} 

.top-title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 140px;
    line-height: 0.8;
    color: var(--blue-light);
    text-transform: capitalize;
    margin-bottom: 40px;
}

/* .wave {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 150px;
    background: url('/homework/hw3/static/svgs/wave.svg') no-repeat;
    background-size: cover;
    fill: #2B7FFF;
} */



/*About Section */

.about-container {
    display: flex;
    gap: 28px;

    position: relative;
} 


.about-photo img {
    border-radius: 50%; 
    width: 327px;
    height: 327px;
}

.about-photo img:last-child {
    margin-top: 40px;
    margin-left: 172px;
}

.about-title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    margin-top: 160px; /* WARNING ALARM ALARM WIU WIU WIU*/
}

.about-text {
    max-width: 709px;
    flex-grow: 1;
    
}

.about-text p {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.7;
}
.about-text p span{
    font-weight: 600;
}

.about-text p:first-of-type {
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-title span {
    color: var(--blue-light);
}


/* Stars */
.star-1 {
    position: absolute;
    right: 295px;
    top: 336px;
    animation: twinkle 2s infinite alternate, moveUp 10s infinite linear;
}

.star-2 {
    position: absolute;
    right:  -8px ; 
    top: +32px;
    animation: twinkle 2s infinite alternate, moveUp 10s infinite linear;
}

.star-3 {
    position: absolute;
    right: +6px;
    bottom: +405px;
    animation: twinkle 2s infinite alternate, moveUp 10s infinite linear;
}


.star-1:nth-child(1) {
    top: 20%;
    left: 10%;
    animation-delay: 0.5s;
}

.star-2:nth-child(2) {
    top: 50%;
    left: 30%;
    animation-delay: 1s;
}

.star-3:nth-child(3) {
    top: 80%;
    left: 70%;
    animation-delay: 1.5s;
}


@keyframes twinkle {
    0% {
        opacity: 0.3;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}




/* WE SECTION */
.we-section {
    /* background-color: rgba(43, 127, 255, 0.2); */
    background-image: 
    linear-gradient(to bottom, rgba(43, 127, 255, 0.3) 0%, rgba(43, 127, 255, 0.3) 30%, transparent 100%);
}


.we-cards {
    display: flex;
    gap: 56px;
    margin-bottom: 96px;
    justify-content: center;
}

.we-item {
    background-color: #fff;
    border-radius: 32px;
    text-align: center;
    padding: 24px 32px;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
    width: 316px;
    height: 181px;
}
.we-item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
}


.we-title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    margin: 48px auto 48px auto;
    max-width: 432px;
    text-align: center;
}
.we-title span {
    color: var(--blue-light);
}


/* procedures section */
.procedures-card {
    border-radius: 4px 120px;
    /* width: 344px; */
    height: 456px;
    padding:  372px 77px 32px 115px;
    flex-wrap: wrap;
    /* flex-grow: 1; */

    /* display: flex;
    justify-content: center;
    align-items: flex-end; */
    
}

.procedures-list {
    display: flex;
    gap: 16px;
    flex-grow: 1;
}

.procedures-item {
    flex-basis: auto;
}

.procedures-title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 48px;
}
.procedures-title span {
    color: var(--blue-light);
}
.card-text {
    color: white;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.18; 
    max-width: 152px;
    /* margin-bottom: 32px; */
    /* margin-left: 77px; */
    text-align: center;
    /* display: none; */
}

.procedures-container {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 96px;
}




/* bg imgs */
.card-image-1 {
    background-image: 
      linear-gradient(to bottom, transparent 0%, transparent 40%, rgba(1, 28, 68, 1) 100%), 
      url(/homework/hw2/static/img/procedures-3.png);
}
.card-image-2 {
    background-image: 
      linear-gradient(to bottom, transparent 0%, transparent 40%, rgba(1, 28, 68, 1) 100%), 
      url(/homework/hw2/static/img/procedures-1.png);
}
.card-image-3 {
    background-image: 
      linear-gradient(to bottom, transparent 0%, transparent 40%, rgba(1, 28, 68, 1) 100%), 
      url(/homework/hw2/static/img/procedures-2.png);
}


/* Carousel */

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--blue-dark);
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--blue-dark);
    cursor: pointer;
    flex-shrink: 0;
}

.carousel-button:hover {
    background-color: var(--blue-light);
    border: 1px solid var(--blue-light);
    fill: white;
}

.carousel-button.button-right {
    transform: rotate(180deg);
}




/* Contact section */
.contact-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 32px;
    margin-bottom: 96px;
}

.contact-title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    text-align: center;
}

.contact-title span {
    color: var(--blue-light);
}


.contact-map iframe {
    width: 605px ;
    height: 481px ;
    border-radius: 32px;
    margin-bottom: 94px;
    
}

.contact-form {
    background-color: #011C44;
    width: 423px;
    height: 481px;
    padding: 48px 56px;
    border-radius: 32px;
    text-align: center;
}

.contact-form-subtitle {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 600;
    line-height: 1.17; 
    margin: 0 auto 16px;
    color: #fff;
    max-width: 274px;
}

.contact-form-subtitle span {
    color: var(--blue-light);
}

.contact-form-field {
    margin-bottom: 16px;
    position: relative;
}

/* .contact-form-field:focus-within .contact-form-label {
    color: transparent
} */
.contact-form-label {
    position: absolute;
    left: 42px;
    top: 16px;
    pointer-events: none;
    font-size: 16px;
    line-height: 1.17;
    color: var(--white);
    transition: transform 0.3s;
}

.contact-form-input {
    padding: 16px 32px;
    font-size: 16px;
    line-height: 1.17;
    width: 100%;
    border: 1px solid var(--white);
    border-radius: 32px;  
    background-color: transparent;
    color: #fff;
}
.contact-form-input:focus {
    outline: none;  
}






/* FOOTER */

.footer {
    background-color: #011C44;  
    padding: 56px 0px;

    position: relative;

}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer-container {
    display: flex;
}

.footer-nav,
.footer-address {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
}

.footer-logo,
.footer-menu  {
    
    flex-grow: 1;

}

.footer-menu li {
    padding-bottom: 16px;
}

.footer-bottles {
    position: absolute;
    bottom: 0px;
    right: 0px;
}


/* .address-list {
    max-width: 192px;
} */

.address-list,
.address-info {
    flex-grow: 1;
}

.address-link {
    color:#fff;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 16px;
}

.address-link:hover {
    color: var(--white);
}


.address-icons {
    display: flex;
    gap: 16px;
    align-items: center;
    /* justify-content: center; */
    width: 42px;
    height: 42px;
}
.address-icons li {
    width: 42px;
    height: 42px;

}


.address-icon {
    fill: #fff;
}
    
/* .address-icon:hover {
    fill: var(--white);
} */

.address-copyright {
    font-size: 14px;
    color: var(--gray);
}



/* Modal */
.backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(1, 31, 74, 0.4);
    padding: 20px 0;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 999;
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.modal {
    position: relative;
    max-width: 681px;
    max-height: 723px;
    width: 100%;
    height: 100%;
    padding: 42px 144px;
    /* padding: 128px; */
    background-color: var(--blue-dark);
    border-radius: 48px;
    overflow: auto;
}
.modal::-webkit-scrollbar {
    display: none;
}


.modal-btn-close {
    position: absolute;
    top: 42px;
    right: 42px;
    width: 32px;
    height: 32px;
}


.modal-container {
    /* margin: 42px, 144px; */
    /* max-width: 310px; */
    color: var(--white);
    text-align: center;
}

.form-title {
    font-family: 'Play';
    font-size: 64px;
    font-weight: 700;
    line-height: 1.15;
}

.form-subtitle {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 600;
    line-height: 1.17;
    margin-bottom: 42px;
}
.form-subtitle span {
    color: var(--blue-light);
}


.form-field {
    margin-bottom: 42px;
    position: relative;
}

.form-field:focus-within .form-label {
    transform: translate(-15px, -40px);
    font-weight: 600;
    /* font-size: 240px; */
}

.form-label {
    position: absolute;
    left: 42px;
    top: 16px;
    pointer-events: none;
    font-size: 16px;
    line-height: 1.17;
    color: var(--white);
    transition: transform 0.3s;
}

.form-input {
    padding: 16px 32px;
    font-size: 16px;
    line-height: 1.17;
    width: 100%;
    border: 1px solid var(--white);
    border-radius: 32px;  
    background-color: transparent;
    color: #fff;
}


.form-input:focus {
    outline: none;  
}


.form-terms {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    max-width: 210px;
    text-align: center;
    margin: 0 auto;
    color: var(--gray);
    margin-top: 8px;

}

.form-trems-link {
    color: var(--gray);
    text-underline-offset: 2px;
}